.remove{
  display: flex;
  align-items: center;
  margin-top: 10px;
  img{
    margin-right: 4px;
  }
  a, button{
    background: transparent;
    border: 0;
    color: #C00000;
  }
  &:last-child{
    margin-left: 25px;
  }
}
